/* Universal */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body, p, h1 {
  margin: 0;
}

.container {
  display: flex;
}

/* Header */

header {
  padding: 1em;
  background-color: lightblue;
  color: grey;
}

.search-button {

}

.check-in, .check-out, .price, .property, .rating,
.location, .more  {
  flex-direction: column;
}

#search-filter, .check-in, .check-out, #room-type-filter,
.property, .rating, .location, .more {
  flex: 1 1;
}

.price {
  flex: 2 1;
}

#room-type-filter {
  border: 1px #000 solid;
}

#price-filter {
  width: 100%;
  margin: 0;
}

.max-price {
  justify-content: space-between;
}

/* Main */

main {
  padding: 1em;
  background-color: lightgrey;
}

/* Sort and map */

#map-sort, .sort {
  align-items: center;
}

#map-sort {
  justify-content: space-between;
  margin-bottom: 1em;
}

/* Hotels */

.hotel {
  height: 210px;
  margin-bottom: .5em;
  background-color: white;
}

.hotel-info, .deals, .selection {
  margin: .5em 0;
  padding: 0 .5em;
}

.deals {
  flex-direction: column;
  justify-content: space-between;
}

.hotel-info {
  border-right: 1px lightgrey solid;
}

.deals ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: .5em;
  border-bottom: 1px lightgrey solid;
}

.more-deals {
  flex-direction: column;
  margin-top: .5em;
  text-align: center;
}

.selection {
  flex-direction: column;
  border-left: 1px lightgrey solid;
}

.selection-info {
  text-align: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.view-deal-btn {
  width: 100%;
}

.deals {
  flex: 1 1;
}

.selection, .img-container {
  flex: 2 1;
}

.hotel-info {
  flex: 3 1;
}


/* .deals-list li {
  text-align: center;
} */
