/* Universal */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body, p, h1 {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1em;
  font-family: 'Merriweather', serif;
}

li {
  font-size: .8em;
  color: grey;
  font-family: 'Merriweather', serif;
}

.container {
  display: flex;
}

/* Header */

header {
  padding: 1em;
  background-color: lightblue;
  color: grey;
  font-family: 'Merriweather', serif;;
}

header input, header select {
  font-family: 'Merriweather', serif;
}

#search, #filters-1 {
  margin-bottom: .5em;
}

#search-filter {
  padding: .3em 0;
  font-size: 1.5em;
}

.search-btn {
  color: white;
  background-color: blue;
  padding: 0 5em;
  font-size: .9em;
  border: none;
}

.check-in, .check-out, .price, .property, .rating,
.location, .more  {
  flex-direction: column;
}

#search-filter, .check-in, .check-out, #room-type-filter,
.property, .rating, .location, .more {
  flex: 1 1;
}

#check-in, #check-out {
  padding-left: 1.5em;
  border: none;
  font-size: .9em;
}

.check-in {
  background-color: white;
  border-left: 10px blue solid;
  padding-top: .5em;
}

.check-out {
  margin-left: .5em;
  background-color: white;
  border-left: 10px orange solid;
  padding-top: .5em;
}

.check-in label, .check-out label {
  padding-left: 1.5em;
}

#room-type-filter {
  margin-left: .5em;
  text-align: center;
  border: none;
  font-size: .8em;
}

.max-price {
  margin-right: .5em;
}

.property, .rating, .location, .more {
  border-left: 1px black solid;
}

.price {
  flex: 2 1;
  padding-right: .5em;
}

#price-filter {
  width: 98%;
  margin: 0;
}

.max-price {
  justify-content: space-between;
}

.property-label, #property-type-filter,
.location-label, #location-filter {
  margin-left: .5em;
  margin-right: .5em;
}

.rating {
  padding-right: 1em;
}

.more-label, #more-filter,
.rating-label, #rating-filter {
  margin-left: .5em;
}

#property-type-filter, #rating-filter,
#location-filter, #more-filter {
  border: none;
  background-color: transparent;
  font-size: .8em;
  color: white;
}

/* Main */

main {
  padding: .5em 1em;;
  background-color: lightgrey;
}

/* Sort and map */

#map-sort, .sort {
  align-items: center;
}

#map-sort {
  justify-content: space-between;
  margin-bottom: .5em;
}

.map {
  width: 190px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/map.png");
  background-size: cover;
}

.view-map-btn {
  font-size: 1em;
  padding: .5em .5em;
  font-family: 'Merriweather', serif;
}

.sort-label {
  font-size: 1em;
  font-family: 'Merriweather', serif;
}

#sort-by {
  padding: 1em;
  border: none;
  margin-left: .5em;
  font-size: .8em;
  font-family: 'Merriweather', serif;
}

/* Hotels */

.deals {
  flex: 1 1;
}

.selection, .img {
  flex: 2 1;
}

.hotel-info {
  flex: 3 1;
}

.img {
  align-items: flex-end;
}

.img p {
  background-color: darkgrey;
  color: white;
  font-size: .8em;
  margin-left: .5em;
  margin-bottom: .5em;
  padding: .3em .2em;
}

.hotel.a .img {
  background-image: url("../images/hotel1.jpg");
  background-size: cover;
  background-position: center;
}

.hotel.b .img {
  background-image: url("../images/hotel2.jpg");
  background-size: cover;
  background-position: center;
}

.hotel {
  height: 210px;
  margin-bottom: .5em;
  background-color: white;
}

.hotel-info, .deals, .selection {
  margin: .5em 0;
  padding: 0 .5em;
}

.deals {
  flex-direction: column;
  justify-content: space-between;
}

.hotel-info {
  border-right: 1px lightgrey solid;
}

.hotel-info p {
  padding-bottom: 1em;
}

#rating {
  background-color: green;
  color: white;
}

.deals ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-bottom: .5em;
  border-bottom: 1px lightgrey solid;
}

.more-deals {
  flex-direction: column;
  margin-top: .5em;
  text-align: center;
  font-size: .8em;
  font-family: 'Merriweather', serif;
}

#more-deals {
  border: none;
  text-align: center;
  font-size: 1em;
  font-family: 'Merriweather', serif;
}

.selection {
  flex-direction: column;
  border-left: 1px lightgrey solid;
}

.selection-info {
  text-align: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.selection-info p {
  font-size: .8em;
}

p.cost {
  font-size: 1.2em;
}

.green {
  color: green;
}

.red {
  color: red;
}

.red.cost {
  text-decoration: line-through;
  padding-bottom: .3em;
}

.green.extra {
  border: 1px green solid;
  margin-top: .6em;
}

.view-deal-btn {
  width: 100%;
  padding: .75em 0;
  color: white;
  background-color: green;
  font-size: 1em;
  font-family: 'Merriweather', serif;
  border: none;
}
