/* Universal */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input, select {
  border: none;
}

h1 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  color: #37454d;
  padding-bottom: .3em;
}

p {
  font-size: 1em;
  font-family: 'Merriweather', serif;
  color: #37454d;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

select:hover {
  cursor: pointer;
}

/* Below rule to overcome the fact that Chrome
shows the list of options white against white
background */

select option {
  color: #232323;
}

.flex-container {
  display: flex;
}

/* Header */

header {
  padding: 1em 5em;;
  background-color: #37454d;
  color: #afafaf;
  font-family: 'Merriweather', serif;;
}

header input, header select {
  font-family: 'Merriweather', serif;
}

.check-in:hover, .check-out:hover, .check-in label:hover,
#check-in, .check-out label:hover,
#check-out:hover {
  cursor: pointer;
}

#search, #filters-1 {
  margin-bottom: .5em;
}

#search-filter {
  padding: .3em 2.5em;
  font-size: 1.5em;
}

#search-filter:focus {
  box-shadow: 0 4px 10px #007fad, 0 -4px 10px #007fad;
}

#search {
  position: relative;
}

#search img {
  height: 32px;
  width: 32px;
  position: absolute;
  top: .5em;
  left: .8em;
}

.search-btn {
  color: #fff;
  background-color: #007fad;
  padding: 0 5em;
  font-size: .9em;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #005e80;
}

.check-in, .check-out, .price, .property, .rating,
.location, .more  {
  flex-direction: column;
}

#search-filter, .check-in, .check-out, #room-type-filter,
.property, .rating, .location, .more {
  flex: 1 1;
}

#check-in, #check-out {
  padding-left: 4.3em;
  font-size: .9em;
}

.check-in {
  background-color: #fff;
  border-left: 10px #007fad solid;
  padding-top: .5em;
  position: relative;
}

.check-in img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: .8em;
  left: 1em;
}

.check-out {
  margin-left: .5em;
  background-color: #fff;
  border-left: 10px #f48f00 solid;
  padding-top: .5em;
  position: relative;
}

.check-out img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: .8em;
  left: 1em;
}

.check-in label, .check-out label {
  padding-left: 4em;
  color: #37454d;
}

#room-type-filter {
  margin-left: .5em;

  /* Στον chrome δεν μου το πιανει το text-align,
  ενω στον Mozilla ναι. Προσπαθησα να βαλω και
  text-align στα options αλλα τιποτα. Στα tools στον
  Chrome δειχνει το default text-align overriden παντως */

  text-align: center;
  font-size: .8em;
  background-image: url("../images/down-arrow-black.png");
  background-size: 15px 15px;
  background-position: right 5% center;
  background-repeat: no-repeat;
}

.max-price {
  margin-right: .5em;
}

.property, .rating, .location, .more {
  border-left: 1px #afafaf solid;
}

.price {
  flex: 2 1;
  padding-right: .5em;
}

#price-filter {
  width: 98%;
  margin: 0;
}

#price-filter:hover {
  cursor: pointer;
}

.max-price {
  justify-content: space-between;
}

.property-label, #property-type-filter,
.location-label, #location-filter {
  margin-left: .5em;
  margin-right: .5em;
}

.rating {
  padding-right: 1em;
}

.more-label, #more-filter,
.rating-label, #rating-filter {
  margin-left: .5em;
}

#property-type-filter, #rating-filter,
#location-filter, #more-filter {
  background-color: transparent;
  font-size: .8em;
  color:#fff;
  background-image: url("../images/down-arrow.png");
  background-size: 18px 18px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* Main */

main {
  padding: .5em 5em;;
  background-color: #ebeced;
}

/* Sort and map */

#map-sort, .sort {
  align-items: center;
}

#map-sort {
  justify-content: space-between;
  margin-bottom: .5em;
}

.map {
  width: 190px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/champs-elysees.png");
  background-size: cover;
}

.view-map-btn {
  font-size: 1em;
  padding: .5em .5em;
  font-family: 'Merriweather', serif;
  background-color: #fff;
  color: #37454d;
  border: 1px #37454d solid;
}

.view-map-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #707070;
}

.sort-label {
  font-size: 1em;
  font-family: 'Merriweather', serif;
  color: #37454d;
}

#sort-by {
  padding: 1em 2.5em 1em 1em;
  margin-left: .5em;
  font-size: .8em;
  font-family: 'Merriweather', serif;
  background-image: url("../images/down-arrow-black.png");
  background-size: 14px 14px;
  background-position: right 5% center;
  background-repeat: no-repeat;
}

.sort img {
  margin-left: .5em;
}

.sort img:hover {
  cursor: pointer;
}

/* Hotels */

.deals {
  flex: 1 1;
}

.selection, .img {
  flex: 2 1;
}

.hotel-info {
  flex: 3 1;
}

.hotel-info img {
  height: 1em;
  width: 4em;
}

.carousel-item > .img-fluid {
  position: relative;
}

.carousel-item > #favourite {
  height: 1em;
  width: 1em;
  left: 5em;
  top: 1em;
  position: absolute;
}

.carousel-item > #favourite:hover {
  cursor: pointer;
}

.hotel {
  margin-bottom: .5em;
  background-color: #fff;
}

.hotel-info, .deals, .selection {
  margin: .5em 0;
  padding: 0 .5em;
}

.deals {
  flex-direction: column;
  justify-content: space-between;
}

.hotel-info {
  border-right: 1px #707070 solid;
}

.hotel-info > p {
  padding-bottom: 1.6em;
}

.rate {
  background-color: #428500;
  color: #fff;
}

.deals > ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-bottom: .5em;
  border-bottom: 1px #707070 solid;
}

.deals li > p {
  color: #707070;
}

.deals li {
  font-size: .8em;
  font-family: 'Merriweather', serif;
  padding: 1.2em 0;
}

.deals li:hover {
  cursor: pointer;
  background-color: #c2eefc;
}

.deals li:hover p {
  color: #1e81a1;
}

.more-deals {
  flex-direction: column;
  margin-top: .5em;
  text-align: center;
  font-size: .8em;
  font-family: 'Merriweather', serif;
  color: #232323;
}

#hotels select {
  background-image: url("../images/down-arrow-black.png");
  background-size: 12px 12px;
  background-position: right 5% center;
  background-repeat: no-repeat;
}

#more-deals-1, #more-deals-2 {

  /* Στον chrome δεν μου το πιανει το text-align,
  ενω στον Mozilla ναι. Προσπαθησα να βαλω και
  text-align στα options αλλα τιποτα. Στα tools στον
  Chrome δειχνει το default text-align overriden παντως */

  text-align: center;
  font-size: 1em;
  font-family: 'Merriweather', serif;
}

.selection {
  flex-direction: column;
  border-left: 1px #707070 solid;
}

.selection-info {
  text-align: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.selection-info > p {
  font-size: .8em;
}

.selection-info > p.cost, .selection-info > p.cost-red {
  font-size: 1.2em;
  padding: .6em 0;
}

.green {
  color: #428500;
}

.red {
  color: #c94a30;
}

.red.cost-red {
  text-decoration: line-through;
}

.green.extra {
  border: 1px #428500 solid;
  margin: .6em;
}

.view-deal {
  position: relative;
}

.view-deal > img {
  position: absolute;
  top: .9em;
  right: 1em;
}

.view-deal-btn {
  width: 100%;
  padding: .75em 0;
  color: #fff;
  background-color: #428500;
  font-size: 1em;
  font-family: 'Merriweather', serif;
  border: none;
}

.view-deal:hover .view-deal-btn {
  background-color: #376a02;
  cursor: pointer;
}

.view-deal:hover img {
  right: .7em;
}
